{% extends "base.html" %}

{% block navbar %}
<button id="create-courses" class="btn btn-primary btn-lg" v-on:click="create" v-bind:class="{ 'loading': isLoading }">Create courses</button>
{% endblock %}

{% block content %}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Cours</th>
        <th>Mail wsf de l'intervenant</th>
        <th>Liste de diffusion</th>
        <th>Promotion</th>
        <th>Année scolaire</th>
        <th>Domaine</th>
        <th>Sélectionner</th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
        <tr>
          <td>{{ course['Cours'] }}</td>
          <td>{{ course['Mail wsf de l\'intervenant'] }}</td>
          <td>{{ course['Liste de diffusion'] }}</td>
          <td>{{ course['Promotion'] }}</td>
          <td>{{ course['Année scolaire'] }}</td>
          <td>{{ course['Domaine'] }}</td>
          <td>
            <label class="form-checkbox" v-on:change="add">
              <input type="checkbox" data-index="{{loop.index}}"/>
              <i class="form-icon"></i>
            </label>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
