{% extends "base.html" %}

{% block navbar %}
<button id="create-courses" class="btn btn-primary btn-lg" v-on:click="create" v-bind:class="{ 'loading': isLoading }">Create courses</button>
<button id="send-manually-emails" class="btn btn-primary btn-lg" v-on:click="send" v-bind:class="{ 'loading': isLoadingEmails }">Resend manually emails</button>
{% endblock %}

{% block content %}
  <div class="toast toast-success" v-show="requestSucceeded">
      <button class="btn btn-clear float-right"></button>
      All classrooms have been created!
  </div>
  <div class="toast toast-danger" v-show="requestFailed">
      <button class="btn btn-clear float-right"></button>
      An error occurred while creating classrooms: <br/>
      ${ errorMessage }
  </div>

  <div class="toast toast-success" v-show="emailRequestSucceeded">
      <button class="btn btn-clear float-right"></button>
      All emails have been sent!
  </div>
  <div class="toast toast-danger" v-show="emailRequestFailed">
      <button class="btn btn-clear float-right"></button>
      An error occurred while sending emails: <br/>
      ${ emailErrorMessage }
  </div>

  <div class="toast toast-primary" v-show="isLoading">
      <button class="btn btn-clear float-right"></button>
      Information: <br/>
      ${ infoMessage }
  </div>

  <form action="upload" method="post" enctype="multipart/form-data">
    Select new CSV to upload:
    <input type="file" name="file" id="file">
    <input type="submit" value="Upload CSV" name="submit" class="btn btn-primary">
  </form>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Index</th>
        <th>Cours</th>
        <th>Mail wsf de l'intervenant</th>
        <th>Liste de diffusion</th>
        <th>Promotion</th>
        <th>Année scolaire</th>
        <th>Domaine</th>
        <th>Sélectionner tout:
          <label class="form-checkbox" v-on:change="setAllCheckboxes">
            <input type="checkbox"/>
            <i class="form-icon"></i>
          </label>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
        <tr>
          <td>{{ loop.index - 1 }}.</td>
          <td>{{ course['Cours'] }}</td>
          <td>{{ course['Mail wsf de l\'intervenant'] }}</td>
          <td>{{ course['Liste de diffusion'] }}</td>
          <td>{{ course['Promotion'] }}</td>
          <td>{{ course['Année scolaire'] }}</td>
          <td>{{ course['Domaine'] }}</td>
          <td>
            <label class="form-checkbox" v-on:change="add">
              <input type="checkbox" class="course" data-index="{{loop.index}}"/>
              <i class="form-icon"></i>
            </label>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
